.title{
    padding-top: 20px;
    color: rgb(26, 27, 27);
    text-align: center;
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 3px 0 rgb(161, 92, 7);
}
body{
    background-color: rgb(247, 217, 217);
}
.drumKit{
    padding-top: 150px;
    padding-left: 100px;
}
.w{
background-image: url("./image/tom1.png");
}
.a{
background-image: url("./image/tom2.png");    
}
.s{
background-image: url("./image/tom3.png");    
}
.d{
background-image: url("./image/tom4.png");    
}
.j{
background-image: url("./image/snare.png");    
}
.k{
background-image: url("./image/crash.png");    
}
.l{
background-image: url("./image/kick.png");    
}
.drum{
    outline: none;
    border: 8px solid blue;
    font-size: 5rem;
    font-family: Georgia, 'Times New Roman', Times, serif, cursive;
    line-height: 2;
    font-weight: 800;
    color:rgb(27, 29, 29);
    text-shadow: 3px 0 rgb(161, 92, 7);
    border-radius: 15px;
    display: inline-block;
    width: 130px;
    height: 130px;
    text-align: center;
    margin: 17px;
    background-color:white;
    box-shadow: 5px 3px rgb(8, 8, 8);
}
footer{
    text-align: center;
    padding-top: 150px;
    color: rgb(10, 10, 10);
    text-shadow: 1px 0 rgb(153, 19, 19);
}